@use '~@angular/material' as mat;

@include mat.core();

$fintech-dashboard-primary: mat.define-palette(mat.$teal-palette);
$fintech-dashboard-accent: mat.define-palette(mat.$amber-palette, A400, A200, A600);

$fintech-dashboard-warn: mat.define-palette(mat.$red-palette);

$fintech-dashboard-theme: mat.define-dark-theme((
  color: (
    primary: $fintech-dashboard-primary,
    accent: $fintech-dashboard-accent,
    warn: $fintech-dashboard-warn,
  )
));

.material-icons{
  font-family: 'Material Icons', serif !important;
}

@include mat.all-component-themes($fintech-dashboard-theme);

.light-theme {
  $fintech-dashboard-primary-light: mat.define-palette(mat.$light-green-palette);
  $fintech-dashboard-accent-light: mat.define-palette(mat.$deep-orange-palette, A400, A200, A600);

  $fintech-dashboard-warn-light: mat.define-palette(mat.$red-palette);

  $fintech-dashboard-theme-light: mat.define-light-theme((
    color: (
      primary: $fintech-dashboard-primary-light,
      accent: $fintech-dashboard-accent-light,
      warn: $fintech-dashboard-warn-light,
    )
  ));

  @include mat.all-component-themes($fintech-dashboard-theme-light);
}
